body {
    margin: 0;
    text-align: center;
}

#wrapper {
    margin: 0;
    height: 100vmax;
    width: 100vmax;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 220);
}

#column {
    background-color: rgb(230, 230, 230);
    height: 100%;
    width: 60%;

    header {
        font-size: x-large;
    }

    #pagescontainer {
        display: flex;
        justify-content: center;

        a {
            padding: 10px;
            padding-left: 60px;
            padding-right: 60px;

            font-size: x-large;

            &:hover {
                background-color: rgb(220, 220, 220);
            }
        }
    }
}